.accordion-item {
    background-color: white !important;
  }
  
  .accordion-button {
    background-color: white !important;
    color: #000 !important; /* Ensuring text is visible */
    border: 1px solid #ddd; /* Optional: adds a subtle border */
  }
  .collapse {
    visibility: visible !important;
  }

  .accordion-button:not(.collapsed)::after {
    content: "-"; /* Expanded sign */
  }

  /* Customize the accordion button signs */
.accordion-button::after {
  content: "+"; /* Default sign */
  font-size: 1.2rem;
  font-weight: bold;
}

